html, body{ margin: 0px; padding: 0px; }

body{
	font-family:Georgia, serif;
	background-image: url("cellhori.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: 700px;
    background-color: #858585;
}


header{
	font-family:'Bungee Hairline', cursive;
	text-align: center;
	font-weight: bold;
	font-size: 80px;
	padding-top: 50px;

}

section{ 
	display: flex; 
	align-items: center;
	justify-content: center;
	position: relative;
	top: 500px;
}

section a img{ 
	height: 80px;
	width: 80px;

}
section a{
    font-weight: bold;
    font-size: 15px;
    margin-right:70px;
}


section a:hover{
	color: white;
	font-weight: bold;
	text-decoration: none;
}

section .borders{
	border-radius:100%;
	border:solid 2px #050aa1;
}


