html, body{ margin: 0px; padding: 0px; }

body{
	font-family:Georgia, serif;
	background-image: url("cellhori.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: 600px;
    background-color: #858585;
}


header{
	font-family:'Bungee Hairline', cursive;
	text-align: center;
	font-weight: bold;
	font-size: 85px;
	padding-top: 50px;
	padding-right: 45px;

}

#corner{
	position: absolute;
    top: 0px;
    right: 0px;
}
section{ display: inline-block; padding-top: 400px; padding-left: 200px;}

section a img{ 
	height: 80px;
	width: 80px;

}
section a{
    font-weight: bold;
    font-size: 15px;
    width: 30px;
    height: 30px;
    margin: 50px;
}


section a:hover{
	color: white;
	font-weight: bold;
	text-decoration: none;
}

section .borders{
	border-radius:100%;
	border:solid 2px #050aa1;
}


